<ion-tabs>

    <ion-tab tab="caravanas">
      <ion-router-outlet name="caravanas"></ion-router-outlet>
    </ion-tab>
    <ion-tab tab="tareas">
      <ion-router-outlet name="tareas"></ion-router-outlet>
    </ion-tab>
    <ion-tab tab="programada">
      <ion-router-outlet name="programada"></ion-router-outlet>
    </ion-tab>
    
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="caravanas" href="/tabs/(caravanas:caravanas)">
      <ion-icon name="flash"></ion-icon>
      <ion-label>Caravanas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tareas" href="/tabs/(tareas:tareas)">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Tareas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="programada"  href="/tabs/(programada:programada)">
      <ion-icon name="send"></ion-icon>
      <ion-label>Programada</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
