<ion-header>
    <ion-toolbar color="tertiary">
      <ion-buttons slot="start">
        <ion-back-button (click)="grabar()" [disabled]="!formgroup.valid" defaultHref="/tabs/(programada:programada)"></ion-back-button>
      </ion-buttons>
      <ion-title>Programación - Detalle</ion-title>
      <ion-buttons slot="end">
         <ion-icon (click)="presentActionSheet()" size="large" name="share"></ion-icon>
        <!--  <ion-icon (click)="grabar()" size="large" name="md-archive"></ion-icon> -->
    </ion-buttons>
  </ion-toolbar>
  </ion-header>
   
  <ion-content padding>
      <ion-list lines="full">
          <ion-item>
            <ion-label>Fecha:</ion-label>
            <ion-datetime display-format="DD/MM/YYYY" [(ngModel)]="tarea.createdAt"></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label>Tarea</ion-label>
            <ion-select placeholder="Tarea" [(ngModel)]="tarea.tarea">
              <ion-select-option value="Vacunar">Vacunar</ion-select-option>
              <ion-select-option value="Yerra">Yerra</ion-select-option>
              <ion-select-option value="Cargar">Cargar</ion-select-option>
              <ion-select-option value="Desparasitar">Desparasitar</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Descripción</ion-label>
            <ion-textarea placeholder="Descripción" [(ngModel)]="tarea.descripcion"></ion-textarea>
          </ion-item>        
        </ion-list>
        <ion-item>
            <ion-label position="stacked">Caravanas</ion-label>
            <ionic-selectable [(ngModel)]="tarea.caravanas" itemValueField="codigo" itemTextField="codigo" [items]="lista_caravanas"
              [canSearch]="true" [canClear]="true" [isMultiple]="true" (onChange)="caravanasChange($event)">
              <ng-template ionicSelectableValueTemplate let-productos="value">
                <div class="ionic-selectable-value-item">
                  {{formatCaravanas(codigo)}}
                </div>
              </ng-template>
            </ionic-selectable>
          </ion-item>
      <ion-list lines="full">
        <ion-item *ngFor="let item of tarea.caravanas">
          <ion-item lines="inset">
              <ion-text color="dark">
                  <h5>{{ item.codigo }}</h5>
              </ion-text>
          </ion-item>
        </ion-item>
      </ion-list>
  </ion-content>